
.agreement{
    display: flex;
    padding: 16px;
    margin: 56px 0 16px 0;
    gap: 10px;
    background: #F4F7FF;
    border-radius: 6px;
    font-size: 16px;
    line-height: 126%;
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.03em;
    color: #686E7D;
}

.agreement__text{
font-size: 16px;
}

@media screen and (max-width: 425px){
    .agreement{
        margin-top: 25px;
    }
}
