{
    "extends": ["react-app", "react-app/jest", "eslint:recommended"],
    "rules": {
        "no-unused-vars": "warn",
        "jsx-quotes": ["error", "prefer-double"],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-constant-condition": "error",
        "no-dupe-else-if": "error",
        "eqeqeq": ["error", "always"],
        "no-empty": "error",
        "no-empty-function": "warn",
        "no-useless-escape": "warn",
        "prefer-const": "error",
        "max-len": ["error", {"code": 130}],
        "semi": ["warn", "never"],
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ],
                "newlines-between": "always-and-inside-groups"
            }
        ]
    }
}
