.nav__button{
    width: 126px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #040D27;
    /* opacity: 0.6; */
    transition: .17s;
}

.nav__button--disabled{
    width: 126px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D1D1D;
    opacity: 0.2;
}

.nav__button--active{
    width: 126px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #2853EB;
    cursor: pointer;
}

.nav__buttons{
    font-size: calc(13px + 2 * ((100vw - 600px) / 600));
    margin-left: 30px;
    display: flex;
}

@media screen and (max-width: 1140px){
    .nav__buttons{
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .nav__buttons{
        justify-content: center;
        align-items: center;
        padding: 6px;
        background: #ECEDF3;
        border-radius: 8px;
        margin-left: unset;
        width: 40%;
    }
    .metamask {
        margin-left: 0px;
    }
    .nav__button{
        width: 112px;
        margin: 0px 2px;
    }
    .nav__button--active{
        width: 112px;
    }
}

@media screen and (max-width: 425px){
    .nav__buttons{
        width: 100%;
        font-size: 16px;
    }
    .nav__button{
        width: 50%;
    }
    .nav__button--active{
        width: 50%;
    }
    .nav__button--disabled{
        width: 50%;

    }
}

@media screen and (max-width: 375px){
    .nav__button{
        /* width: 140px; */
    }
    .nav__button--active{
        /* width: 140px; */
    }
    .nav__button--disabled{
        /* width: 140px; */

    }

}

@media screen and (max-width: 320px){
    .nav__button{
        /* width: 104px; */
    }
    .nav__button--active{
        /* width: 104px; */
    }
    .nav__button--disabled{
        /* width: 104px; */

    }
}