.connect__container{
display: flex;
height: 80%;
justify-content: center;
align-items: center;

}

.connect{
border: 1px solid black;
height: 313px;
left: 568px;
top: 126px;
width: 304px;
background: #FFFFFF;
border: 1px solid #E5E8F0;
box-sizing: border-box;
border-radius: 6px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Inter;
font-style: normal;
}

.fox{
margin-bottom: 10px;
}

.connect__title{
font-weight: 600;
font-size: 18px;
line-height: 126%;
letter-spacing: 0.03em;
color: #040D27;
margin-bottom: 20px;
}

.connect__button{
padding: 10px 16px;
color: white;
background: #3180F6;
border-radius: 6px;
cursor: pointer;
margin-bottom: 10px;

}

.required{
    color: #f63131;
    font-size: 12px;
}