.connect__container{
display: flex;
height: 80%;
justify-content: center;
align-items: center;

}

.connect{
border: 1px solid black;
height: 313px;
left: 568px;
top: 126px;
width: 304px;
background: #FFFFFF;
border: 1px solid #E5E8F0;
box-sizing: border-box;
border-radius: 6px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Inter;
font-style: normal;
}

.fox{
    margin-bottom: 10px;
}

.fox img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

/* .connect__btn{
    color: #fff;
    background: #3180F7;
    border-radius: 6px;
    padding: 2px 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 0.17s;
} */



.wallet{

}

.connect__title{
font-weight: 600;
font-size: 18px;
line-height: 126%;
letter-spacing: 0.03em;
color: #040D27;
margin-bottom: 20px;
}

.connect__button{
padding: 10px 16px;
color: white;
background: #3180F6;
border-radius: 6px;
cursor: pointer;
margin-bottom: 10px;
}

.connect__button a{
    color: #fff;
}

.required{
    color: #f63131;
    font-size: 12px;
}

.btn-metamask{
    padding: 10px 16px;
    color: white;
    background: #3180F6;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}


/* @media screen and (max-width: 600px) {
    .btn-metamask{
        visibility: hidden;
    }
} */