.metamask{
    right: 10px;
    width: 170px;
    height: 40px;
    background: #EDF0F8;
    border: 1px solid #D9DFED;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 0 16px;
}

.metamask:hover{
    cursor: pointer;
}

.account{
}

.account__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    
}

.account__icon canvas {
    border-radius: 25px;
    margin-right: -4px;
    width: 18px;
    height: 18px;
}


@media screen and (max-width: 1140px) {
    .metamask{
        width: 140px;
    }
}

@media screen and (max-width: 600px) {
    .metamask{
        width: 22vw;
    }
}

@media screen and (max-width: 425px) {
    .metamask{
        top: 10px;
    }
}

@media screen and (max-width: 320px) {
    .metamask{
        width: 85px;
        height: 4vh;
        padding: 0 10px;
    }
}