.metamask{
    right: 0;
    width: 157px;
    height: 32px;
    background: #EDF0F8;
    border: 1px solid #D9DFED;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 0 16px;
}

.account{
    width: 140px;

}

.account__icon{
  
}

.account__icon canvas {
    border-radius: 25px;
    margin-top: 4px;
    margin-right: -4px;
    width: 18px;
    height: 18px;
}
@media screen and (max-width: 600px) { 
    .metamask{
        position: unset;
        display: flex;
        order: 1;
        margin-left: 0px;
        width: 25%;
        margin-left: 0px;
        padding: 10.5px 6px;
        height: auto;
        font-size: 14px;
    }

    .account__icon{
        /* width: 16px; */
        /* background-color: tomato; */
    }

    .account__icon canvas {
        border-radius: 25px;
        margin-top: 4px;
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 425px) { 
    .metamask{
        position: unset;
        display: flex;
        order: -1;
        margin-left: 0px;
        width: 50%;
        padding: 10px 10px;
        height: auto;
    }

    .account{
        max-width: 100px;
    }
}

@media screen and (max-width: 375px){
    .metamask{
        /* max-width: 40%; */
    }
    .account{
        /* max-width: 100px; */
    }
}

@media screen and (max-width: 320px){
    .metamask{
        /* max-width: 100%; */
    }
    .account{
        /* font-size: 10px; */
        max-width: 100%;
    }
}