.metamask{
    right: 0;
    width: 175px;
    height: 32px;
    background: #EDF0F8;
    border: 1px solid #D9DFED;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 0 16px;
}

.account{
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.account__icon{
    width: 18px;
    height: 18px;
    border-radius: 25px;
    background-color: tomato;
}

@media screen and (max-width: 600px) { 
    .metamask{
        position: unset;
        display: flex;
        order: -1;
        margin-left: 0px;
        width: 302px;
        padding: 10px 0;
        height: auto;
    }
}

@media screen and (max-width: 425px) { 
    .metamask{
        position: unset;
        display: flex;
        order: -1;
        margin-left: 0px;
        width: 200px;
        padding: 10px 0;
        height: auto;
    }
}

@media screen and (max-width: 375px){
    .metamask{
        width: 178px;
    }
    .account{
        width: 100px;
    }
}

@media screen and (max-width: 320px){
    .metamask{
        width: 150px;
    }
    .account{
        width: 80px;
    }
}