.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.navbar--mobile{
    display: none;
}

.xp__logo{
    padding-top: 20px;
    padding-bottom: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.xp__logo img{
    width: 100%;
}


@media screen and (max-width: 1140px){
    .navbar{
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }

    .navbar--mobile{
        max-width: calc(100% - 20px);
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        gap: 5px;
        padding: 10px;
        /* background-color: tomato; */
    }

    .xp__logo{
        order: -2;
        padding: 10px 0;
        width: 25%;
        
    }


}

@media screen and (max-width: 1140px){
 .xp__logo{
     width: 130px;
 }   
}


@media screen and (max-width: 425px){
    .navbar--mobile{
        /* width: calc(100% - 40px); */
        width: 90%;
        
        padding: 10px;
        justify-content: space-between;
    }
    .xp__logo{
        width: 170px;
        margin: unset;
    }
}

@media screen and (max-width: 375px){
    .navbar--mobile{
        /* width: calc(100% - 40px); */
        /* width: 100%; */
    }
    .xp__logo{
        width: 150px;
    }
}

@media screen and (max-width: 320px){
    .xp__logo{
        width: 130px;
    }
}