.stake__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.stake{
    max-width: 622px;
    height: auto;
    padding: 30px 0;
    background: #FFFFFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    color: #040D27;
    border: 1px solid #E5E8F0;
}

.summary{
    max-width: 486px;
    /* height: 720px; */
    height: auto;
    padding: 30px 0;
    background: #FFFFFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #E5E8F0;
}

.stake__title{

    padding-left: 30px;
    /* padding-top: 22px; */
    padding-bottom: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;
}

.line{
    height: 0;
    border-top: 1px solid #E5E8F0;
    margin-bottom: 11px;
}

.stake__duration{
    padding: 0 30px 20px 30px;
    font-family: Inter;
}

.duration__header{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    margin-bottom: 12px;
}

.durations__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (max-width: 1140px) {
    .summary{
        flex-basis: 620px;
        max-width: 620px;
    }
}

@media screen and (max-width: 600px) {
    .stake__container{
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
    }
    .stake{
        flex-basis: 600px;
        border-radius: unset;
        height: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E5E8F0;
    }
    .summary{
        flex-basis: 600px;
        max-width: 600px;
        border-radius: unset;
    }
    .stake__container{
        gap: 10px;
    }
    .durations__container{
        margin: 0 10px;
        max-width: 600px;
        justify-content: space-between;
    }

    .duration__header{
        padding: 0 10px;
    }
}

@media screen and (max-width: 425px){
    .durations__container{
        flex-wrap: wrap;
        gap: 10px;
    }
    .stake__title{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 126%;
    }
    .duration__header{
        font-weight: 600;
        font-size: 14px;
        line-height: 126%;
    }
    .stake__title{
        font-weight: 600;
        font-size: 14px;
        line-height: 126%;
        letter-spacing: 0.03em;
    }

    /* SUMMARY */
    .details__capture{
        font-weight: 500;
        font-size: 15px;
        line-height: 126%;
        letter-spacing: 0.03em;
        color: #686E7D;
    }
    .details__capture{
        font-weight: 500;
        font-size: 15px;
        line-height: 126%;
        letter-spacing: 0.03em;     
        color: #040D27;
    }
}