.stake__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.stake{
    max-width: 622px;
    height: 720px;
    padding: 30px 0;

    background: #FFFFFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Inter;
    color: #040D27;
    border: 1px solid #E5E8F0;
}

.summary{
    max-width: 486px;
    height: 720px;
    padding: 30px 0;
    background: #FFFFFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #E5E8F0;
}

.stake__title{

    padding-left: 30px;
    /* padding-top: 22px; */
    padding-bottom: 22px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;
}

.line{
    height: 0;
    border: 1px solid #E5E8F0;
    margin-bottom: 11px;
}

.stake__duration{
    padding: 0 30px;
    font-family: Inter;
}

.duration__header{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 126%;
    margin-bottom: 18px;
}

.durations__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.stake__amount{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.amount__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.amount__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.03em;
}


.amount__subtitle{
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 126%;
}

.amount__subtitle span{
    font-weight: 600;
}

.amount__input input{
    width: 100%;
    height: 48px;
    background: #FBFCFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 16px;
}


.amount__input input:focus{
    outline: none;
}

.amount__input{
    position: relative;
}

.input__items{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
}

.input__items .max{
    width: 76px;
    height: 32px;
    left: 654px;
    top: 319px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 14px;

    background: #ECEDF3;
    border-radius: 6px;
    cursor: pointer;
}

.agreement{
    display: flex;
    padding: 16px;

    margin: 50px 0 16px 0;

    gap: 15px;

    background: #F4F7FF;
    border-radius: 6px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 126%;
    /* or 20px */

    display: flex;
    align-items: flex-start;
    letter-spacing: 0.03em;

    color: #686E7D;
}

.agreement input{
    width: 18px;
    height: 18px;
}
.stake__amount--mobile{
    display: none;
}

@media screen and (max-width: 600px) {


    .stake__container{
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
    }
    
    .stake{
        flex-basis: 600px;
        border-radius: unset;
        height: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .summary{
        flex-basis: 600px;
        max-width: 600px;
        border-radius: unset;
    }
    
    .stake__container{
        gap: 10px;
    }

    .durations__container{
        /* background-color: tomato; */
        margin: 0 10px;
        max-width: 600px;
        /* flex-wrap: wrap; */
        /* gap: 5px; */
        /* margin-bottom: 26px; */
        /* padding: 0 10px; */
        justify-content: space-between;
    }
    .stake__amount--mobile{
        display: block;
    }

    .stake__title{
        padding: 0 10px 20px 10px;
    }
    .stake__duration{
        padding: 0;
    }
    .stake__amount{
        display: none;
    }

    .amount__title{
        padding: 10px 10px;
    }

    .amount__subtitle{
        display: flex;
        padding: 10px;
    }
    .duration__header{
        padding: 0 10px;
    }

    .amount__input{
        padding: 0 10px; 
    }
    .input__items{
        right: 16PX;
    }
}