.search__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.claim__search{
    background: #FFFFFF;
    width: 486px;

    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #E5E8F0;
    padding: 30px 0 24px 0;
}
.search__details{
    display: flex;
    flex-direction: column;
    width: 562px;
    padding: 30px;
}

.search__title{
    padding-left: 30px;
    padding-bottom: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;
}
.claim__search__content{
    max-width: calc(100% - 20px);
    margin: 60px auto 0 auto;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;

}

.nft__pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.nft__pic img{
    width: 100%;
}

.search__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.search{
    background: #FFFFFF;
    width: 486px;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #E5E8F0;
    padding: 30px 0 24px 0;
    margin-bottom: 10px;
}

.search__title{
    padding-left: 30px;
    padding-bottom: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;
}
.nft__content{
    max-width: calc(100% - 20px);
    margin: 0 auto;
    height: 100%;
    
    /* overflow: hidden; */
}

.nft__pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nft__pic img{
    width: 70%;
}

.staker{
    display: flex;
    height: 48px;
    padding: 13px;
    margin: 6px 30px 20px 30px;
    justify-content: space-between;
    background: #FBFCFF;
    border: 1px solid #E5E8F0;
    box-sizing: border-box;
    /* width: 140px; */
    border-radius: 6px;
}

.gallery__btn{
    height: 44px;
    width: calc(100% - 20px) ;
    background-color: #3180F7;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFF;
    margin: 5px 0;
    transition: .17s;
}

.gallery__btn:hover{
    background-color: #2549D1;
    cursor: pointer;
}

@media (max-width: 1107px){
    .search__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .gallery__container{
        justify-content: center;
    }
}