.app__wraper{
  max-width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 600px){
  .app__wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: violet; */
  }

}
